@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
  margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #ebd086;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 60px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: rgb(255, 111, 106);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


body {
  max-width: 100em;
  max-height: 30em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  padding: 4em 2em;
  color: rgb(255, 132, 132);
}


h1 {
  margin-top: 1em;
  padding-top: 1em;
  font-size: 75px;
  text-align: center;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    font-size: 50px;
    text-align: center;
  }
  

p{
    font-size: 20px;
    text-align: center;
    color: rgb(44, 207, 207);
    margin: auto;
    width: 50%;
}

a {
    color: #feffb3;
    text-align: center;
  }
  

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%
  }


<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>